<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>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</string>
</dict>
</plist>
