<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>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</string>
</dict>
</plist>
